* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
    background-image: url(./files/bg-backround.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #F9DEC9;
}

.container {
    height: 100vh;
    width: 100%;
    
    
}

.navbar {
    height: 7%;
    width: 100%;
    background-color: rgba(165, 42, 42, 0.6);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 19px;
    position: fixed
}

.nav-list {
    display: flex;
    justify-content: space-between;
}

.nav-item {
    padding: 10px 20px;
    transition: 0.3s;
    
}

.nav-item:hover {
    background-color: #AEC5EB;
    border-radius: 30px;
}

.nav-list a {
    text-decoration: none;
    color: #F9DEC9;   
}

.landing {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    min-height: 100vh;
}

.left {
    grid-column: 1/2;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 200px;
}

.right {
    grid-column: 2/3;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left img {
    width: 500px;
    border-radius: 50%;
}

.right h1 {
    font-size: 70px;
}

.right p {
    font-size: 20px;
    letter-spacing: 2px;
}

#about {
    min-height: 100vh;
    width: 100%;
    padding: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.about-me h2 {
    margin-bottom: 10px;
}

.personal {
    display: grid;
    width: 50%;
}

.personal h2 {
    margin-bottom: 10px;
}

.personal a {
    text-align: center;
    color: #F9DEC9;
    text-decoration: none;
    font-size: 20px;
    padding: 10px;
    border: 1px solid #F9DEC9;
    margin-top: 10px;
    background-color: #e9afa35b;
    transition: 0.3s;
    border-radius: 10px;
}

.personal a:hover {
    background-color: #F9DEC9;
    color: black;
}

#resume {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    min-height: 100vh;
    width: 100%;
    padding: 100px;
    align-items: center;
    text-align: center;
    line-height: 30px;
}

.experience ul {
    list-style: none;
}

.education ul {
    list-style: none;
}

#capstone {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.capstone-1, .capstone-2 {
    text-align: center;
    flex: 0.2 300px;
    height: 50%;
    margin: 10px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.capstone-1 a, .capstone-2 a{
    text-decoration: none;
    border-top: 1px solid black;
    padding: 20px;
    color: #F9DEC9;
    background-color: #e9afa35b;
    border-radius: 0 0 20px 20px;
    transition: 0.3s;
}

.capstone-1 a:hover, .capstone-2 a:hover{
    color: black;
    background-color: #F9DEC9;
}

.capstone-1 {
    height: 500px;
    background-image: url('./files/capstone2.JPG');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.capstone-2 {
    height: 500px;
    background-image: url('./files/capstone3.JPG');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#contact {
    min-height: 100vh;
    padding: 60px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    width: 100%;
    gap: 10px;
}

.contact-me {
    background-color: rgba(165, 42, 42, 0.6);
    border-radius: 20px;
    padding: 20px;
    width: 100%;
    display: grid;
    grid-template-rows: repeat(1,3fr);
    gap: 10px;
}

.contact-me img {
    width: 50px;
    margin-left: 20px;
}
.contact-me h2 {
    grid-row: 1/2;
}
.contact-me div:nth-of-type(1) {
    grid-row: 2/3;
}
.contact-me div:nth-of-type(2) {
    grid-row: 3/4;
}

@media (max-width: 820px) {
    .navbar {
        height: 10%;
    }

    .nav-list a {
        font-size: 25px;
    }

    .left img {
        width: 300px;
    }

    #about {
        font-size: 25px;
    }

    #resume {
        font-size: 22px;
    }

    #contact {
        grid-template-columns: none;
        text-align: center;
    }

    .contact-me {
        grid-row: 1/2;
        font-size: 25px;
    }

    .map {
        grid-row: 2/3;
    }
}

@media (max-width: 540px) {

    .navbar {
        height: 10%;
        justify-content: center;
        padding: 0;
    }

    .nav-list {
        justify-content: space-around;
        flex: 1;
    }

    .nav-item {
        padding: 0;
    }

    .navbar a {
        font-size: 16px;
    }

    .landing {
        display: flex;
        flex-direction: column;
    }

    .left {
        flex: 1;
    }

    .right {
        flex: 1;
    }

    .left img {
        width: 350px;
        border-radius: 50%;
    }

    .right {
        padding: 20px;
    }
    
    .right h1 {
        font-size: 50px;
    }
    
    .right p {
        font-size: 30px;
        letter-spacing: 2px;
    }

    #about {
        padding: 10px;
        font-size: 16px;
        text-align: center;
        align-items: center;
    }

    #resume {
        padding: 0;
        font-size: 12px;
        display: flex;
        flex-direction: column;
        line-height: 1.5;
        font-size: 14px;
        padding: 20px;
    }

    .education {
        padding-top: 20px;
    }

    .personal {
        display: flex;
        flex-direction: column;
    }

    #contact {
        padding: 20px;
    }

    iframe {
        width: 300px;
    }

    
}

@media (max-width: 300px) {
    .navbar a {
        font-size: 12px;
    }

    .left img {
        width: 200px;
    }

    .right {
        padding: 20px;
    }

    iframe {
        width: 200px;
    }
}
